<div class="menu-btns">
  <li class="menu-btn">
    <button [autofocus] class="btn-action icos-list-item" [routerLink]="['/venda-balcao-produtos']">Nova venda</button>
  </li>
  <li class="menu-btn">
    <button class="btn-action icos-list-item" [routerLink]="['/venda-balcao-troca-operador']">Troca Operador</button>
  </li>
  <li class="menu-btn">
    <button class="btn-action icos-list-item" [routerLink]="['/venda-balcao-retirar-dinheiro']">Sangria</button>
  </li>
  <li class="menu-btn">
    <button class="btn-action icos-list-item" [routerLink]="['/venda-balcao-suprimento']">Suprimento</button>
  </li>
  <li class="menu-btn">
    <button class="btn-action icos-list-item" [routerLink]="['/venda-balcao-historico']">Histórico</button>
  </li>
  <li class="menu-btn">
    <button class="btn-action icos-list-item" [routerLink]="['/venda-externa-fechar']">Fechar caixa</button>
  </li>
</div>
