<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="INSTALLDIR" value="C:\Users\leonardo.kobus\Documents\Visual Studio 2017\Projects\Dissidia.League.App\Dissidia.League.App\bin\Debug" />
  </appSettings>  
</configuration>