*.suo
bin
obj
packages
/.idea/
/frontend/node_modules/
/npm-debug.log
*.pubxml
*.user
*.vs
*.htm
/frontend-admin/package-lock.json
/frontend/package-lock.json
RTM.Global/RTM.Global.Gauge/RTM/Empresa/CriacaoDeUsuarioSteps.cs
frontend-admin/.vscode/launch.json
RTM.Global/RTM.Franquia.Rest.Service/App.config
RTM.Global/RTM.Franquia.Rest.Service/App.config
/RTM.Global/RTM.Global.Configuration/Database/Dev/DanieleConfiguration.cs
/frontend/node_modules---
/frontend/node_modules----
/frontend-admin/node_modules1
/frontend/node_modules123
