<div class="container-fluid main-container">  

  <div class="card">

    <div class="toolbar">

      <div class="col-md-9">
        <h3 class="toolbar-title">
          Players Scores
        </h3>
      </div>

      <div class="col-md-3">
        <div class="input-with-btn">
          <input type="text" placeholder="Buscar" ngui-auto-complete [(ngModel)]="inputSearch" [source]="listUsuarios" min-chars=1
            max-num-list=5 value-formatter="nome" list-formatter="codigo - nome" match-formatted=true display-property-name="nome"
            (valueChanged)="selectAutoComplete($event)" no-match-found-text="Usuário não encontrado" />
          <button>
            <i class="icon-loupe"></i>
          </button>
        </div>
      </div>

    </div>


    <table class="table order-table">
      <tr>
        <th style='width:150px;' (click)="SortList(listUsuarios, 'date')" [ngClass]="{ 'asc': sortingDesc['date'], 'desc': !sortingDesc['date'], 'active': selectTableRow == 'date' }">
          <div>
            <label>Date</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>

        <th style='width:150px;' (click)="SortList(listUsuarios, 'winners')" [ngClass]="{ 'asc': sortingDesc['winners'], 'desc': !sortingDesc['winners'], 'active': selectTableRow == 'winners' }">
          <div>
            <label>Winners</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th style='width:150px;' (click)="SortList(listUsuarios, 'loosers')" [ngClass]="{ 'asc': sortingDesc['loosers'], 'desc': !sortingDesc['loosers'], 'active': selectTableRow == 'loosers' }">
          <div>
            <label>Loosers</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th style='width:150px;' (click)="SortList(listUsuarios, 'status')" [ngClass]="{ 'asc': sortingDesc['status'], 'desc': !sortingDesc['status'], 'active': selectTableRow == 'status' }">
          <div>
            <label>status</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th></th>              
      </tr>

      <tr *ngFor='let usuario of listUsuarios | paginate: { itemsPerPage: 8, currentPage: p }' (click)="onSelect(usuario)" [class.selected]="usuario === selectedUser">
        <td>{{usuario.date}}</td>
        <td>{{usuario.winners}}</td>
        <td>{{usuario.loosers}}</td>
        <td>{{usuario.status}}</td>        
        <td>
          <a href="" [routerLink]="['/matchDetail', usuario.id]">
            <i class="icon-pen-2"></i>
          </a>          
        </td>
      </tr>
    </table>

    <div class="toolbar-bottom">
      <pagination-controls (pageChange)="p = $event" nextLabel="Próximo" previousLabel="Anterior" maxSize=7 autoHide=true directionLinks=true></pagination-controls>
    </div>
  </div>

  <div class="container-floating">

    <div class="floating-button">
      <span class="letter">
        <div class="t-left t-sm" data-tooltip="Novo usuário">
          <button [routerLink]="['/addUsuario']" class="btn-clean">
            <span class="letter">
              <span class="fa fa-plus"></span>
            </span>
          </button>
        </div>
      </span>
    </div>
  </div>

</div>
