<div class="container-fluid main-container">

  <div class="content-head">
    <h3 class="content-title">
      Ver entregas
    </h3>

    <div class="col-md-2">
      <select name="" id="">
        <option value="">Este mês</option>
      </select>
    </div>
  </div>

  <div class="card">

    <div class="toolbar">

      <div class="col-md-3">
        <h3 class="toolbar-title">
          Lista de produtos
        </h3>
      </div>

      <div class="col-md-3">
      </div>

      <div class="col-md-3">
        <select name="" id="">
          <option value="">Balcão e externa</option>
        </select>
      </div>

      <div class="col-md-3">
        <select name="" id="">
          <option value="">Status</option>
        </select>
      </div>

    </div>

    <table class="table">
      <tr>
        <th>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta0">
            <label for="flta0">Data - Pedido</label>
          </div>
        </th>
        <th>Produto</th>
        <th>Qtd</th>
        <th>Valor</th>
        <th>Data receb.</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta1">
            <label for="flta1">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-warning">
            <span class="status-txt">Aguardando</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta2">
            <label for="flta2">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-ok">
            <span class="status-txt">Entregue</span>
            <i class="icon-checked"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta3">
            <label for="flta3">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-error">
            <span class="status-txt">Atrasado</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta4">
            <label for="flta4">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-warning">
            <span class="status-txt">Aguardando</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta5">
            <label for="flta5">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-ok">
            <span class="status-txt">Entregue</span>
            <i class="icon-checked"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta6">
            <label for="flta6">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-error">
            <span class="status-txt">Atrasado</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta7">
            <label for="flta7">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-warning">
            <span class="status-txt">Aguardando</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta8">
            <label for="flta8">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-ok">
            <span class="status-txt">Entregue</span>
            <i class="icon-checked"></i>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="check-wrapper">
            <input type="checkbox" value="" name="" class="check" id="flta9">
            <label for="flta9">14/02 - #4567</label>
          </div>
        </td>
        <td>Skol 600ml</td>
        <td>3</td>
        <td>R$1.000,00</td>
        <td>14/02</td>
        <td>
          <p class="status c-error">
            <span class="status-txt">Atrasado</span>
            <i class="icon-clock"></i>
          </p>
        </td>
      </tr>
    </table>

    <div class="toolbar-bottom">
      <ul class="pagination">
        <li>< Anterior</li>
        <li>1</li>
        <li class="current">2</li>
        <li>3</li>
        <li>4</li>
        <li>...</li>
        <li class="last-page">40</li>
        <li>Próximo ></li>
      </ul>

      <button class="btn-action">
        Confirmar entrega
      </button>
    </div>
  </div>

</div>
