<div class="container-fluid main-container">

  <div class="card">
    <h3 class="card-title">Inserir dados</h3>

    <div class="content">
      <div class="col-md-3">
        <label for="">Nome</label>
        <input type="text" />
      </div>

      <div class="col-md-6">
        <label for="">Descrição</label>
        <input type="text" />
      </div>

      <div class="col-md-3">
        <label for="">Código</label>
        <input type="text" />
      </div>

      <div class="col-md-3">
        <label for="">Qtd. em estoque</label>
        <input type="text" />
      </div>

      <div class="col-md-3">
        <label for="">Tipo de estoque</label>
        <input type="text" />
      </div>

      <div class="col-md-3">
        <label for="">Custo</label>
        <input type="text" />
      </div>

      <div class="col-md-3">
        <label for="">Preço vendido</label>
        <input type="text" />
      </div>

    </div>

  </div>

  <div class="button-wrapper">
    <button class="btn-action">
      Cadastrar produto
    </button>
  </div>

</div>
