<nav>
  <a [routerLink]="['/visao-geral']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Visão Geral</a>

  <a [routerLink]="['/venda-balcao']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-balcao-produtos']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-balcao-troca-operador']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-balcao-retirar-dinheiro']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-balcao-suprimento']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-balcao-historico']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>
  <a [routerLink]="['/venda-externa-fechar']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda balcão</a>

  <a [routerLink]="['/pedidos']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Venda Externa</a>
  <a [routerLink]="['/notas-fiscais']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Notas Fiscais</a>

  <a [routerLink]="['/entrega/mapa']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Mapa de entrega</a>

  <a [routerLink]="['/entrada-nota']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Entrada de nota</a>

  <a [routerLink]="['/estoque']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Estoque</a>
  <a [routerLink]="['/estoque-transferencia']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Estoque</a>

  <a [routerLink]="['/produtos']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Produtos</a>
  <a [routerLink]="['/addProduto']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Produtos</a>

  <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Usuários</a>
  <a [routerLink]="['/addUsuario']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Usuários</a>

  <a [routerLink]="['/clientes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Clientes</a>
  <a [routerLink]="['/addCliente']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Clientes</a>

  <a [routerLink]="['/manuntencao']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Frequência de visita</a>

  <a [routerLink]="['/financas']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Finanças</a>

  <a [routerLink]="['/configuracoes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Configurações</a>

  <a [routerLink]="['/puxada']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Puxada (Template)</a>

  <a [routerLink]="['/retorno']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="current-page">Retorno (Template)</a>
</nav>
