<div class="container-fluid main-container">  
  <div [ngBusy]="{busy: busy, template: templateLoading, message: 'Fetching data...'}"></div>
  <div class="card">

    <div class="toolbar">

      <div class="col-md-2">
        <h3 class="toolbar-title">
          Players Scores
        </h3>
      </div>
      <div class="col-md-2">
          <select [(ngModel)]="view">
              <option selected value="1">Char</option>            
              <option value="2">Roles</option>              
              <option value="3">Players</option>              
          </select>      
        </div>
      <div class="col-md-2">
        <select [(ngModel)]="duo">
            <option value="1">Team</option>
            <option value="2">Duo</option>            
        </select>      
      </div>
      <div class="col-md-3">
          <select [(ngModel)]="inputSearch">
              <option value="-1">All Matches</option>
              <option value="10">10+ Total Matches</option>            
              <option value="20">20+ Total Matches</option>            
              <option value="50">50+ Total Matches</option>            
              <option value="100">100+ Total Matches</option>            
              <option value="200">200+ Total Matches</option>                          
          </select>      
      </div>
      <div class="col-md-2">
          <button (click)="getMinMatches()">
              Filtrar <i class="icon-loupe"></i>
          </button>
      </div>      
    </div>


    <table class="table order-table">
      <tr>
        <th style='width:650px;' (click)="SortList(listUsuarios, 'name')" [ngClass]="{ 'asc': sortingDesc['codigo'], 'desc': !sortingDesc['name'], 'active': selectTableRow == 'name' }">
          <div>
            <label>Name</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>

        <th style='width:50px;' (click)="SortList(listUsuarios, 'wins')" [ngClass]="{ 'asc': sortingDesc['nome'], 'desc': !sortingDesc['nome'], 'active': selectTableRow == 'wins' }">
          <div>
            <label>Wins</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th style='width:50px;' (click)="SortList(listUsuarios, 'losts')" [ngClass]="{ 'asc': sortingDesc['cpf'], 'desc': !sortingDesc['cpf'], 'active': selectTableRow == 'losts' }">
          <div>
            <label>Losts</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th style='width:50px;' (click)="SortList(listUsuarios, 'percentualWins')" [ngClass]="{ 'asc': sortingDesc['perfil'], 'desc': !sortingDesc['perfil'], 'active': selectTableRow == 'percentualWins' }">
          <div>
            <label>%Wins</label>
          </div>

          <span class="order-icons-wrapper">
            <i class="fa fa-chevron-up order-icons"></i>
            <i class="fa fa-chevron-down order-icons"></i>
          </span>
        </th>
        <th style='width:50px;' (click)="SortList(listUsuarios, 'percentualLosts')" [ngClass]="{ 'asc': sortingDesc['perfil'], 'desc': !sortingDesc['perfil'], 'active': selectTableRow == 'percentualLosts' }">
            <div>
              <label>%Losts</label>
            </div>
  
            <span class="order-icons-wrapper">
              <i class="fa fa-chevron-up order-icons"></i>
              <i class="fa fa-chevron-down order-icons"></i>
            </span>
          </th>
          <th style='width:50px;' (click)="SortList(listUsuarios, 'totalMatches')" [ngClass]="{ 'asc': sortingDesc['perfil'], 'desc': !sortingDesc['perfil'], 'active': selectTableRow == 'totalMatches' }">
              <div>
                <label>Total</label>
              </div>
    
              <span class="order-icons-wrapper">
                <i class="fa fa-chevron-up order-icons"></i>
                <i class="fa fa-chevron-down order-icons"></i>
              </span>
            </th>
        <th>
        </th>
      </tr>

      <tr *ngFor='let usuario of listUsuarios | paginate: { itemsPerPage: 8, currentPage: p }' (click)="onSelect(usuario)" [class.selected]="usuario === selectedUser">
        <td>{{usuario.name}}</td>
        <td>{{usuario.wins}}</td>
        <td>{{usuario.losts}}</td>
        <td>{{usuario.percentualWins}}</td>
        <td>{{usuario.percentualLosts}}</td>
        <td>{{usuario.totalMatches}}</td>        
      </tr>
    </table>

    <div class="toolbar-bottom">
      <pagination-controls (pageChange)="p = $event" nextLabel="Próximo" previousLabel="Anterior" maxSize=7 autoHide=true directionLinks=true></pagination-controls>
    </div>
  </div>  

</div>
