<div class="container-fluid main-container">

  <div class="card">

    <table class="table txt-l">
      <tr>
        <th>Dados do pedido</th>
        <th>Data entrega</th>
        <th>Situação</th>
        <th>Ação</th>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          Hoje
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Entregue</option>
          </select>
        </td>
        <td>
          --
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          29/05/2017
        </td>
        <td>
          <select name="" id="" class="c-error">
            <option value="">Qtd acima do pedido</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Realimentar estoque</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          27/05/2017
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Pagto em dinheiro</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Alimentar caixa</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          Hoje
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Entregue</option>
          </select>
        </td>
        <td>
          --
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          29/05/2017
        </td>
        <td>
          <select name="" id="" class="c-error">
            <option value="">Qtd acima do pedido</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Realimentar estoque</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          27/05/2017
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Pagto em dinheiro</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Alimentar caixa</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          Hoje
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Entregue</option>
          </select>
        </td>
        <td>
          --
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          29/05/2017
        </td>
        <td>
          <select name="" id="" class="c-error">
            <option value="">Qtd acima do pedido</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Realimentar estoque</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          #4567 - Bar do João<br/>
          R$12.000,00
        </td>
        <td>
          27/05/2017
        </td>
        <td>
          <select name="" id="" class="c-ok">
            <option value="">Pagto em dinheiro</option>
          </select>
        </td>
        <td>
          <select name="" id="">
            <option value="">Alimentar caixa</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="button-wrapper">
      <button class="btn-action">
        Salvar Status
      </button>
    </div>
  </div>

</div>
