/* Radio */
.radio-wrapper {
  position: relative;
  input[type="radio"] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    width: 24px;
    height: 24px;
    top: 40%;
    left: 4%;
    margin-top: -7px;
    position: absolute;
  }
  label {
    display: inline-block;
    position: relative;
    font-size: em(16px);
    text-transform: none;
    padding: 10px 0 0 40px;
    color: color(txt, dark);
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      top: 45%;
      left: 0;
      border-radius: 100%;
      margin-top: -8px;
      font-size: 16px;
      position: absolute;
      cursor: pointer;
      color: color(txt, base);
      border: 2px solid color(input, border);
      &:hover {
        color: color(primary, base);
      }
    }
    &.active {
      &:before {
        display: none;
      }
    }
  }
  &.active label:after,
  input[type="radio"]:checked+label:after,
  label.active:after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 8px;
    top: 10px;
    left: 5px;
    position: absolute;
    cursor: pointer;
    background-color: color(primary, base);
  }
}


/*material radio button*/
.mat-radio-button {
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.mat-ripple {
  overflow: hidden
}

.mat-ripple.mat-ripple-unbounded {
  overflow: visible
}

.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0s cubic-bezier(0, 0, .2, 1);
  transform: scale(0)
}

.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, .54)
}

.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, .38)
}

.mat-radio-disabled .mat-radio-inner-circle,
.mat-radio-disabled .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 0, 0, .38)
}

.mat-radio-disabled .mat-radio-label-content {
  color: rgba(0, 0, 0, .38)
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #3f51b5
}

.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(63, 81, 181, .26)
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: color(primary,base);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: color(primary,base);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(68, 129, 243, 0.5)!important
}

.mat-radio-button.mat-warn.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4381f3!important
}

.mat-radio-button.mat-warn .mat-radio-inner-circle {
  background-color: #4381f3!important
}

.mat-radio-button.mat-warn .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(68, 129, 243, 0.5)
}
